.home-layout-wrap {
  min-height: 100%;

  .header {
    background: url('/static/doodles.png');
    padding: 0;
    box-shadow: 0 2px 8px #f0f1f2;
  }

  .content {
    margin: 88px 16px 0;
  }

  .footer {
    text-align: center;
    background: transparent;
  }

  .content-wrap {
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

  @media (max-width: 600px) {
    .footer {
      display: none;
    }
  }
}
