.sideMenu {
  position: fixed;
  box-shadow: 1px 0 0 rgba(16, 22, 26, 0.15);
  background-color: #fff;
  width: 1269px;
  height: 100vh;
  overflow-y: scroll;
  margin-left: -999px;
  padding-left: 1004px;
}

.wrap {
  position: relative;
  padding-bottom: 80px;
  min-height: 100%;
}
.sideLogo {
  width: 65px;
  display: block;
  margin-right: 8px;
}

.sideHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

.sideTitle {
  font-weight: 600;
  font-size: 16px;
}

.menuItem {
  padding: 8px;
  /* padding-left: 0; */
}
.menuItem:hover {
  font-weight: 600;
  background: transparent;
  background-image: linear-gradient(90deg, rgba(245, 248, 250, 0) 0, #f5f8fa 40%);
}

.sideCopyright {
  position: absolute;
  text-align: center;
  bottom: 16px;
}
